<center>
<h1>Nuevo Repuesto</h1>

<%= render 'form' %>
<center>
<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-arrow-left" ></span>
<%= link_to 'Atras', repuestos_path %>
</button>
