<center>
<table class="table table-bordered" id="vista">

<tr>
  <th>Repuesto:
  <%= @repuesto_bolet.repuesto.codrepuesto %></th>
</tr>

<tr>
  <th>Bolet:
  <%= @repuesto_bolet.bolet.numboleta %></th>
</tr>
</table>

<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-pencil" ></span>
<%= link_to 'Editar', edit_repuesto_bolet_path(@repuesto_bolet) %>
</button>

<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-arrow-left" ></span>
<%= link_to 'Atras', repuesto_bolets_path %>
</button>
