
<center>
<table class="table table-bordered" id="vista">

<tr>
  <th>Codequipo:
  <%= @equipo.codequipo %></th>
</tr>

<tr>
  <th>Tipo:
  <%= @equipo.tipo %></th>
</tr>
</div>

</table>
<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-pencil" ></span>
<%= link_to 'Editar', edit_equipo_path(@equipo) %>
</button>

<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-arrow-left" ></span>
<%= link_to 'Atras', equipos_path %>
</button>
