<h1>Editar Boleta</h1>

<%= render 'form' %>

<button type="button" class="btn btn-default btn-xs" >
<span class="glyphicon glyphicon-eye-open"  ></span>
<%= link_to 'Mostrar', @bolet %> 
</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-arrow-left" ></span>
<%= link_to 'Atras', bolets_path %>
</button>
