<center>
<h1>Nueva Boleta</h1>

<%= render 'form' %>


<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-arrow-left" ></span>
<%= link_to 'Atras', bolets_path %>
</button>
