/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
   color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 }


#contenedor
 {
    width:70%;
    font-size: 19px;
     color:orange;
     text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

 }

#info
{
  font-size: 16px;
}

 body
     {
       background: rgba(183,222,237,1);
      background: -moz-radial-gradient(center, ellipse cover, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 24%, rgba(33,180,226,1) 66%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(183,222,237,1)), color-stop(24%, rgba(113,206,239,1)), color-stop(66%, rgba(33,180,226,1)), color-stop(96%, rgba(183,222,237,1)), color-stop(100%, rgba(183,222,237,1)));
      background: -webkit-radial-gradient(center, ellipse cover, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 24%, rgba(33,180,226,1) 66%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      background: -o-radial-gradient(center, ellipse cover, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 24%, rgba(33,180,226,1) 66%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      background: -ms-radial-gradient(center, ellipse cover, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 24%, rgba(33,180,226,1) 66%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      background: radial-gradient(ellipse at center, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 24%, rgba(33,180,226,1) 66%, rgba(183,222,237,1) 96%, rgba(183,222,237,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );


       }
.field
{
  font-size: 17px;
  color: #077219;
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.posision{
  margin-left: auto;
}
.mostrar
{

    font-size: 25px;
    color:orange;

}
