/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
   color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 }


#contenedor
 {
    width:70%;
    font-size: 19px;
     color:orange;
     text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

 }

#info
{
  font-size: 16px;
}

 body
     {

         background-image: url("imagen.jpg");
         font-style: italic;
       }
.field
{
  font-size: 17px;
  color: #077219;
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.posision{
  margin-left: auto;
}
.mostrar
{

    font-size: 25px;
    color:orange;

}
